
<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>

    <title>CHF</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"/>
    <link rel="stylesheet" href="${STATIC_URL}bower_components/flat-ui/dist/css/flat-ui.min.css"/>
  </head>

  <body>


    <!-- Begin main section-->
    <div id="middle">

        <div id = "top" class="container-fluid">
            <div class="test">
               <a href="/"><img src="https://dl.dropboxusercontent.com/u/72128499/flag.png"/></a>
            </div>
        </div>

        <div id = "main" class="container-fluid">
            <div class="row">
                        <div class="content">
                            <h1>Oops! Looks like you don't have access to this page. Try <a href="/mylogin" >logging in</a></h1>
                        </div>
            </div>
        </div>
        <div id = "bottom" class="container-fluid">
            <div class = "row">
            </div>
        </div>
    </div>

    <footer>
        <div class="row well">
            <div id="footer" class="col-md-12">
                <span class="footer-links"><a href="/about">about</a></span>
                <span class="footer-links"><a href="/contact">contact</a></span>
                <span class="footer-links"><a href="/terms">terms</a></span>
            </div>
        </div>
    </footer>
    <div class="copyright"><span>Copyright 2015, Colson Enterprises</span></div>
  </body>
</html>