<%inherit file="base.htm" />
<%block name="content">
    <h2 class="edit">Your Account</h2>
       <div class="table-responsive">
        <table>
            <tr>
                <td class="header"><b>First Name: </b></td>
                <td>${ request.user.first_name }</td>
            </tr>
            <tr>
                <td class="header"><b>Last Name: </b></td>
                <td>${ request.user.last_name }</td>
            </tr>
            <tr>
                <td class="header"><b>Email: </b></td>
                <td>${ request.user.email }</td>
            </tr>
            <tr>
                <td class="header"><b>Phone: </b></td>
                <td>${ request.user.phone }</td>
            </tr>
            <tr>
                <td class="header"><b>Organization Name: </b></td>
                <td>${ request.user.organization_name }</td>
            </tr>
            <tr>
                <td class="header"><b>Organization Type: </b></td>
                <td>${ request.user.organization_type }</td>
            </tr>
            <tr>
                <td class="header"><b>Emergency Contact: </b></td>
                <td>${ request.user.emergency_contact }</td>
            </tr>
            <tr>
                <td class="header"><b>Emergency Phone: </b></td>
                <td>${ request.user.emergency_phone }</td>
            </tr>
            <tr>
                <td class="header"><b>Emergency Relationship: </b></td>
                <td>${ request.user.emergency_relationship }</td>
            </tr>
        </table>
       </div>
    <button id="change_password" style="margin-left:30px; margin-bottom:30px; float:left;" class="btn btn-warning btn-lg">Change Password</button>
    <button id="show_account_edit" style="margin-right:30px; margin-bottom:30px; float:right;" class="btn btn-warning btn-lg">Change Info</button>
</%block>
<%block name="line">
</%block>