<%inherit file="base.htm" />
<%block name="content">
<h3 class="head">Confirm Your Order</h3>
%if request.session['shopping_cart']:
<div class="col-md-6" style="margin-top:30px;"><h4>Shopping Cart</h4>
<table class="table-responsive table-striped left">
    <th>#</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    %for item in items:
    <tr>
        <td class="img-col"><img class="shopping_cart_image" src="${STATIC_URL}${ item.photo.image }"/></td>
        <td class="name-col">${ item.name }</td>
        <td class="price-col">${ item.price }</td>
        <td class="qty-col">${ request.session['shopping_cart'][str(item.id)] }</td>
    </tr>
    %endfor
</table>
</div>
%endif
%if request.session['rental_cart']:
<div class="col-md-6" style="margin-top:30px;float:right;"><h4>Rental Cart</h4>
<table class="table-responsive table-striped left">
    <th>#</th>
    <th>Name</th>
    <th>Price per Day</th>
    <th># of Days Rented</th>
    %for rental in rentals:
    <tr>
        <td class="img-col"><img class="shopping_cart_image" src="${STATIC_URL}${ rental.photo.image }"/></td>
        <td class="name-col">${ rental.name }</td>
        <td class="price-col">${ rental.price_per_day }</td>
        <td class="qty-col">${ request.session['rental_cart'][str(rental.id)] }</td>
    </tr>
    %endfor

</table>
</div>
%endif
  <div class="col-md-12">
    <form method=POST>
      <table class="table-table-responsive table-striped left" action="/account.checkout">
        ${ form }
      <table class="table-table-responsive table-striped left">
      <button class="btn btn-warning" id="checkout" type="submit">Place Order</button>
    </form>
  </div>
</%block>
<%block name="line">
</%block>
