<%inherit file="base.htm" />
<%block name='title'>
<h2>Transactional Accounting</h2>
</%block>
<%block name="alt">
<h4>30 day Sale History</h4>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Purchase Date</th>
                    <th>Customer Name</th>
                </tr>
                %for t in itemtrans:
                <tr style="text-align:left">
                    <td><a href="report.itemdetails/${t.id}">${t.product.name}</a></td>
                    <td>$${t.product.price}</td>
                    <td>${t.quantity}</td>
                    <td>$${t.quantity * t.product.price}</td>
                    <td>${t.transaction.order_date.strftime('%B %d, %Y')}</td>
                    <td>${t.transaction.customer.first_name} ${t.transaction.customer.last_name}</td>
                </tr>
                %endfor
            </tbody>
        </table>
    </div>
</%block>
<%block name="nine">
<h4>30 day Rental History</h4>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Rental Item Name</th>
                    <th>Price per Day</th>
                    <th>Total</th>
                    <th>Date In</th>
                    <th>Date Due</th>
                    <th>Date In</th>
                    <th>Customer Name</th>
                </tr>
                %for t in prodtrans:
                <tr style="text-align:left">
                    <td><a href="report.itemdetails/${t.id}">${t.rental_product.name}</a></td>
                    <td>$${t.rental_product.price_per_day}</td>
                    <td>$${t.rental_product.price_per_day * (int(t.date_due.strftime('%d')) - int(t.date_out.strftime('%d')))}</td>
                    <td>${t.date_out.strftime('%B %d, %Y')}</td>
                    <td>${t.date_due.strftime('%B %d, %Y')}</td>
                    %if t.date_in:
                    <td>${t.date_in.strftime('%B %d, %Y')}</td>
                    %else:
                    <td>-</td>
                    %endif
                    <td>${t.transaction.customer.first_name} ${t.transaction.customer.last_name}</td>
                </tr>
                %endfor
            </tbody>
        </table>
    </div>
</%block>
