<%inherit file="base.htm" />
<%block name='title'>
    <h2>Manage Users</h2>
</%block>
<%block name="alt">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                %for user in users:
                <tr style="text-align:left;">
                    <td>${user.first_name}</td>
                    <td>${user.last_name}</td>
                    <td>${user.username}</td>
                    <td>${user.email}</td>
                    <td style="text-align:center"><button value="${user.id}" id="show_account_edit" class="btn btn-primary btn-sm">Edit</button><span> | </span><a style="color:#CF000F" href="users.delete/${user.id}">Delete</a></td>
                </tr>
                %endfor
            </tbody>
        </table>
        <button id="show_account_create" style="float:right;" class="btn btn-success btn-lg">Create New</button>
    </div>
</%block>
