<%inherit file="base.htm" />
<%block name='title'>
<p class="back"><a href="/report.accounting">< Back</a></p>
<h2>Edit User</h2>
</%block>
<%block name="alt">
    <div class="item-details table-responsive">
       <form method="post">
        <table class="table table-striped table-bordered">
            <tr style="text-align:left">
            ${ form }
            </tr>
        </table>

        <button class="btn btn-success" type="submit">Save Changes</button>
    </form>
        </div>
</%block>