.footer-links{
    padding-left:30px;
    padding-right:30px;
    margin-top:30px;
}

.header-links{
    margin-left:35px;
    margin-right:35px;

}

.edit {
    margin-bottom: 60px;
}

.row well{

    background-color: blue;
}

#main{
    background: LightGray;
    margin-bottom:30px;
    padding-right:0px;
    padding-left:0px;

}

#middle{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

#top{
    text-align: center;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 20px;
}

.center-menu{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top:15px;
    margin-bottom: 20px;
    margin-top:8px;
    border-top:solid;
    border-top-width:1px;
    border-bottom:solid;
    border-bottom-width:1px;
    border-top-color:#bac1c8;
    border-bottom-color:#bac1c8;
}

footer{
    text-align: center;

}

#footer {
    height:75px;
}

.copyright{
    text-align: center;
    margin: 0 auto;
    color: LightGray;
    margin-top:15px;
    margin-bottom:50px;
    }

#bottom{
    margin-bottom:150px;
}

table {
    text-align: center;
    margin: 0 auto;
}

.edit-table {
    padding-right:50px;
}

.logout{
    text-align: right;
}

#login-button {
    float:right;

}

#create {
    margin-right:30px;
    margin-bottom:30px;
    float:right;
}

.right {
    text-align:right;
    margin-right:30px;
}

.spacer {
    height:27px;
}

#show_login_dialog {
    margin-right: 10px;
}

#top-header {
    margin-top:0px;
}

.side-bar {
    float:left;
    width:20%;
    margin-top:15px;
}

.category-list {
    text-align:right;
}

.breadcrumb {
    text-align:left;
    padding-left:3%;
    margin-left:9%;
    margin-right:9%;
}

.text-left {
    text-align:left;
}

.item-details{
    margin-left:auto;
    margin-right:auto;
    width:50%;
}